<nav class="navbar navbar-expand-lg navbar-light">
  
  <div class="container my-lg-4 fs-4">
    <a class="navbar-brand mx-3 mx-lg-5" href="#">Git Mine</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-lg-5">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item mx-lg-5">
          <a class="nav-link" href="/home/#about">About</a>
        </li>
        
        <li class="nav-item mx-5">
          <a class="nav-link" href="https://githaefrancis.github.io/portfolio/" target="_blank">Porfolio</a>
        </li>
      </ul>
      
    </div>
    <app-search-bar class="mx-3 collapse navbar-collapse"></app-search-bar>
    <!-- <app-search-bar class="mx-3 search-component"></app-search-bar> -->
  </div>
  <div class="search-wrapper mobile-search"><app-search-bar class="mx-3 mx-md-5 mobile-search "></app-search-bar></div>
</nav>