/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
  background: transparent!important;
}

body{
  background-color: #FCFAFA;
}

a{
  cursor: pointer;
}

.footer{
  height:15vh;
  margin-bottom: 0px;
}

.zoom{
  z-index: 3;
  transition: all .3s ease-in-out;
  transform: scale(1.2);
  
}

.zoom ~ div{
  transform: scale(0.8);
  transition: all .3s ease-in-out;
}
.mobile-search{
  display: none;
}

@media only screen and (max-width:980px) {
  .mobile-search{
    display: flex;
    justify-content: center;
  }
  .search-wrapper{
    display: flex;
    margin: auto;
  } 
}

/* style repo card */

.repo-card{
  
  height: 26rem;


}

.repo-card .repo-description{
 height:6rem;
 background: #FCFAFA;
 white-space: wrap;
 text-overflow: ellipsis;
 overflow:hidden;
 padding-bottom:1rem;

}