<div id="header" class="container-fluid">
<div class="container d-flex  align-items-center h-100">
  <div class="intro mx-lg-5">
    <h1 class="text-success"><strong>GIT</strong> MINE,</h1>
    <p>Search your favorite people here.No, your favorite <br> github developers.View their best work.Hire one or two...</p>
  <form action="" class="d-flex my-5">
    <div class="form-group">
      <input type="text" class="form-control">
    </div>
    <button class="btn btn-success mx-3 mx-lg-5">Search</button>
  </form>
  </div>
</div>

</div>