<div  class="container-fluid ">
  <div id="header">
<div class="container header-container d-flex  align-items-center h-100">
  <div class="intro mx-lg-5">
    <h1 class="text-success"><strong>GIT</strong> MINE,</h1>
    <p>Search your favorite people here.No, your favorite <br> github developers.View their best work.Hire one or two...</p>
    <!-- <app-search-bar></app-search-bar> -->
    <button class="btn btn-success my-5" type="submit">Go To Search</button>
  </div>
  <div>
    <img src="assets/dev.png" class="img-fluid" alt="" >
    
  </div>
</div>
</div>
</div>




