<div class="container">
  <!-- <app-search-bar (searchKey)="loadResults()"></app-search-bar> -->

  <h1>Users</h1>
  <!-- <button (click)="showUsers()">LOAD</button> -->
  <div class="row">
    <div *ngFor="let user of users" class="col-3">
      <img src="{{ user.avatar }}" alt="" class="img-fluid" />
      <p>{{ user.login }}</p>
    </div>

    <div *ngIf="users.length<1">
      <p>No user found.</p>
    </div>
  </div>
  <hr />

  <h1>Repositories</h1>

  <div class="row">

    <div *ngFor="let repository of repositories" class="col-3">
      <img src="" alt="">
      <p>{{repository.name}}</p>
    </div>
    <div *ngIf="repositories.length<1">
      <p>No repository found.</p>
    </div>
  </div>
</div>
