<div class="container">
  <!-- <app-search-bar (searchKey)="loadResults()"></app-search-bar> -->

  <h1 class="text-center">Users <span>{{userCount}}</span></h1>
  <!-- <button (click)="showUsers()">LOAD</button> -->
  <div class="row ">
    <div *ngFor="let user of users" class="col-lg-2">
     <a (click)="showUser(user.login)" title="Go to {{user.login}}"> <img src="{{ user.avatar }}" alt="" class="img-fluid" />
      <p class="text-center mt-2">{{ user.login }}</p></a>
    </div>

    <div *ngIf="users.length<1">
      <p>No user found.</p>
    </div>
  </div>
  <hr />

  <h1 class="text-center">Repositories</h1>

  <div class="row my-5" >

    <div class="col-lg-4" *ngFor="let repository of repositories">

      <div class="card p-4 mb-3">
        <div class="my-2">

          <span class="repo-icon"><img src="../../assets/repoicon.png" height="48" alt=""></span><span class="mb-5"><strong>{{repository.name}}</strong></span>
          <p class="mt-5 fw-bold">Description</p>
          <p *ngIf="repository.description" class="mt-1">{{repository.description}}</p>
          <p *ngIf="!repository.description" class="mt-1">No description provided.</p>
          <a href="{{repository.link}}" class="badge bg-dark text-decoration-none">Github Link</a>
        </div>
      
        <a (click)="goToRepo(repository.name)" class="btn btn-dark mt-5">More Details</a>
      </div>
    </div>
    <div *ngIf="repositories.length<1">
      <p>No repository found.</p>
    </div>
  </div>
</div>
